---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | join: '' %}
{% assign categories = page.categories | join: '' %}
{% assign url_beginning = page.url | slice: 0, 6 %}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<!-- pagein으로 따로 scss 설정 -->
<div class="pagein">
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">
        Created on {{ page.date | date: '%B %d, %Y' }}
        {% if page.author %}by {{ page.author }}{% endif %}
        {% if page.last_updated %}, last updated on {{ page.last_updated | date: '%B %d, %Y' }}{% endif %}
        {% if page.meta %}• {{ page.meta }}{% endif %}
      </p>
      <p class="post-tags">
        {% if url_beginning == '/blog/' %}
          <a href="{{ year | prepend: '/blog/' | relative_url }}"> <i class="fa-solid fa-calendar fa-sm"></i> {{ year }} </a>
        {% else %}
          <i class="fa-solid fa-calendar fa-sm"></i> {{ year }}
        {% endif %}
        {% if tags != '' %}
          &nbsp; &middot; &nbsp;
          {% for tag in page.tags %}
            {% if url_beginning == '/blog/' %}
              <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}"> <i class="fa-solid fa-hashtag fa-sm"></i> {{ tag }}</a>
            {% else %}
              <i class="fa-solid fa-hashtag fa-sm"></i> {{ tag }}
            {% endif %}
            {% unless forloop.last %}
              &nbsp;
            {% endunless %}
          {% endfor %}
        {% endif %}

        {% if categories != '' %}
          &nbsp; &middot; &nbsp;
          {% for category in page.categories %}
            {% if url_beginning == '/blog/' %}
              <a href="{{ category | slugify | prepend: '/blog/category/' | relative_url }}"> <i class="fa-solid fa-tag fa-sm"></i> {{ category -}}</a>
            {% else %}
              <i class="fa-solid fa-tag fa-sm"></i> {{ category }}
            {% endif %}
            {% unless forloop.last %}
              &nbsp;
            {% endunless %}
          {% endfor %}
        {% endif %}
      </p>
    </header>

    <article class="post-content">
      {% if page.toc and page.toc.beginning %}
        <div id="table-of-contents">
          {% toc %}
        </div>
        <hr>
      {% endif %}
      <div id="markdown-content" class="notion">
        {{ content }}
      </div>
    </article>

    {% if page.citation %}
      {% include citation.liquid %}
    {% endif %}

    {% if page.related_publications %}
      <h2>References</h2>
      <div class="publications">
        {% bibliography --group_by none --cited_in_order %}
      </div>
    {% endif %}

    {% if site.related_blog_posts and site.related_blog_posts.enabled %}
      {% if page.related_posts == null or page.related_posts %}
        {% include related_posts.liquid %}
      {% endif %}
    {% endif %}

    {% if site.disqus_shortname and page.disqus_comments %}
      {% include disqus.liquid %}
    {% endif %}

    {% include post_navigation.liquid %}

    {% if site.giscus and page.giscus_comments %}
      {% include giscus.liquid %}
    {% endif %}

  </div>
</div>

{% comment %} Prism.js for syntax highlighting in Notion posts {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js" integrity="sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js" integrity="sha512-I1kcgJ2Ji4JBsHFYaDQdUOV6FEV6ITLJvP0CWVL7AV0+/1z5u+16yPERYMCXc0fhHTfBRy6OxrbbH0nOoLOHlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js" integrity="sha512-BDWIUqr7AWu+rfKSeCZOq+MF+IfuMN9REQSrOYIZy76x88k/+zQ3R5T4/C/5B/kmDCUvIwI8cZZBIDEkgdpRWQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-c.min.js" integrity="sha512-9cC9aJaQw5YJTBnQEfSDPCcIshqjSV/sj1fZPCPD0hD3n1kpspLSN1l3H2d3Mm6bT5pLcNLcLQFwW9iVULxwug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-cpp.min.js" integrity="sha512-+xmJiXam59Eg3KPk09rrKm8N6d5P62zEbbdSebmXpGDqaXKYZSQcYxcWKzqnpkr9UACww+8uOhFPyvZfiE2UQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js" integrity="sha512-k9sJvM5v5iPaG8+CIJpIbXQaOKxoV2Y+qf7K7L5V8ZqDxzIhhbhYFdcBe6mDpTRH3Eq0HMWfAY35LWiRPHxBWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bash.min.js" integrity="sha512-qho6uzZ7juT9g8cN0ZPV//5d8TEkxD1tZzQ7gp/7/JmZV8KZH3kdEKdPzwuGN9TmwRlTk8G8vHuLpEV/3xBV4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>